* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.realtime__map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.logo {
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 2;
}

.legend {
  position: absolute;
  top: 1rem;
  left: 4rem;
  z-index: 3;
  color: rgba(255, 255, 255, 0.8);
  font-family: sans-serif;
  display: flex;
}

.label {
  margin-right: 32px;
  margin-top: 2px;
}

.color {
  width: 20px;
  height: 20px;
  display: block;
  margin-bottom: 8px;
  margin-right: 12px;
  border-radius: 50%;
}
.color--purple {
  background-color: #c1569d;
}
.color--green {
  background-color: #068d36;
}
.color--orange {
  background-color: #ff6b00;
}

.property__icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateZ(0);
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.property__icon:before {
  content: "";
  position: absolute;
  border: 1px solid;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.property__icon--purple {
  animation-name: pulse-purple;
}
@keyframes pulse-purple {
  0% {
    background: rgba(193, 86, 157, 0);
  }
  30% {
    background: #c1569d;
  }
  70% {
    background: #c1569d;
  }
  100% {
    background: rgba(193, 86, 157, 0);
  }
}
.property__icon--purple:before {
  animation-name: pulse-border-purple;
}
@keyframes pulse-border-purple {
  0% {
    border-color: rgba(193, 86, 157, 0);
    transform: scale(1);
  }
  30% {
    border-color: rgba(193, 86, 157, 0.8);
  }
  60% {
    border-color: #c1569d;
  }
  100% {
    border-color: rgba(193, 86, 157, 0);
    transform: scale(1.6);
  }
}

.property__icon--orange {
  animation-name: pulse-orange;
}
@keyframes pulse-orange {
  0% {
    background: rgba(255, 107, 0, 0);
  }
  30% {
    background: #ff6b00;
  }
  70% {
    background: #ff6b00;
  }
  100% {
    background: rgba(255, 107, 0, 0);
  }
}
.property__icon--orange:before {
  animation-name: pulse-border-orange;
}
@keyframes pulse-border-orange {
  0% {
    border-color: rgba(255, 107, 0, 0);
    transform: scale(1);
  }
  30% {
    border-color: rgba(255, 107, 0, 0.8);
  }
  60% {
    border-color: #ff6b00;
  }
  100% {
    border-color: rgba(255, 107, 0, 0);
    transform: scale(1.6);
  }
}

.property__icon--green {
  animation-name: pulse-green;
}
@keyframes pulse-green {
  0% {
    background: rgba(6, 141, 54, 0);
  }
  30% {
    background: #068d36;
  }
  70% {
    background: #068d36;
  }
  100% {
    background: rgba(6, 141, 54, 0);
  }
}
.property__icon--green:before {
  animation-name: pulse-border-green;
}
@keyframes pulse-border-green {
  0% {
    border-color: rgba(6, 141, 54, 0);
    transform: scale(1);
  }
  30% {
    border-color: rgba(6, 141, 54, 0.8);
  }
  60% {
    border-color: #068d36;
  }
  100% {
    border-color: rgba(6, 141, 54, 0);
    transform: scale(1.6);
  }
}
