$hemnet-green: #39aa35;
$hemnet-blue: #1493BC;

* {
  box-sizing: border-box;
}

body {
  margin:0; padding:0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.logo {
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 2;
}

.legend {
  position: absolute;
  top: 1rem;
  left: 4rem;
  z-index: 3;
  color: rgba(#fff, .8);
  font-family: sans-serif;
  display: flex;
}

.label {
  margin-right: 12px;
}

.color {
  width: 20px;
  height: 20px;
  display: block;
  margin-bottom: 8px;
  margin-right: 12px;
  border-radius: 50%;

  &--blue {
    background-color: $hemnet-blue;
  }

  &--green {
    background-color: $hemnet-green;
  }
}

@mixin pulse-animate-web {
  @keyframes pulse-web {
    0% {
      background: rgba($hemnet-blue, 0);
    }

    30% {
      background: rgba($hemnet-blue, 1);
    }

    70% {
      background: rgba($hemnet-blue, 1);
    }

    100% {
      background: rgba($hemnet-blue, 0);
    }
  }

  animation-name: pulse-web;
}

@mixin pulse-animate-border-web {
  @keyframes pulse-border-web {
    0% {
      border-color: rgba($hemnet-blue, 0);
      transform: scale(1);
    }

    30% {
      border-color: rgba($hemnet-blue, .8);
    }

    60% {
      border-color: rgba($hemnet-blue, 1);
    }

    100% {
      border-color: rgba($hemnet-blue, 0);
      transform: scale(1.6);
    }
  }

  animation-name: pulse-border-web;
}

@mixin pulse-animate-mobile {
  @keyframes pulse-mobile {
    0% {
      background: rgba($hemnet-green, 0);
    }

    30% {
      background: rgba($hemnet-green, 1);
    }

    70% {
      background: rgba($hemnet-green, 1);
    }

    100% {
      background: rgba($hemnet-green, 0);
    }
  }

  animation-name: pulse-mobile;
}

@mixin pulse-animate-border-mobile {
  @keyframes pulse-border-mobile {
    0% {
      border-color: rgba($hemnet-green, 0);
      transform: scale(1);
    }

    30% {
      border-color: rgba($hemnet-green, .8);
    }

    60% {
      border-color: rgba($hemnet-green, 1);
    }

    100% {
      border-color: rgba($hemnet-green, 0);
      transform: scale(1.6);
    }
  }

  animation-name: pulse-border-mobile;
}

.property__icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateZ(0);

  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  &:before {
    content: '';
    position: absolute;
    border: 1px solid;
    top: -5px; left: -5px; right: -5px; bottom: -5px;
    border-radius: 50%;

    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.property__icon--web {
  @include pulse-animate-web;

  &:before {
    @include pulse-animate-border-web;
  }
}

.property__icon--mobile {
  @include pulse-animate-mobile;

  &:before {
    @include pulse-animate-border-mobile;
  }
}
